{{#each notes}}
<div class="result-list-div">
<div class="card result-card">
  <div class="card-body">
    <h1>{{fullName}} <span class="badge text-bg-light" style="float:right; font-size:20px;">{{tag.title}}</span></h1>
    <a href="{{link}}"target="_blank">{{link}}</a>
        <p>
        {{#if language}}
        <b>Language:</b> {{language}} | 
        {{/if}}
        {{#if stargazers_count}}
        <b>Stargazers:</b> {{stargazers_count}} 
        {{/if}}
        {{#if license}}
        | <b>License:</b> {{license}}
        {{/if}}
        </p>
        <p><i>"{{description}}"</i></p>
        <p style="font-size: 20px;">{{comment}}</p>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{id}}" aria-expanded="false" aria-controls="flush-collapseOne">
        Edit 
      </button>
    </h2>
    <div id="flush-collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <form class="editNote-form" data-noteid={{id}}>
            <div class="mb-3">
              <textarea class="commentText form-control" id="comment-textarea" rows="3">{{comment}}</textarea>
            </div>
            <div class="mb-3">
                <label for="newTag" class="form-label">Change Tag:</label>
                <input type="newTag" class="newTag form-control w-25" id="newTag" placeholder="new tag" aria-describedby="newTag">
                <select class="chooseTag form-select w-25" id="chooseTag" aria-label="tag-select">
                    <option value="{{tag.id}}" selected>{{tag.title}}</option>
                    {{#each ../tags}}
                    <option value="{{id}}">{{title}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" data-noteid={{id}} class="btn btn-saveNote btn-primary">Save</button>
            <button type="click" data-noteid={{id}} class="btn btn-deleteNote btn-danger" style="float:right;">Delete</button>
        </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{{/each}}

<script src="./js/editNotes.js"></script>