{{!-- renders after search button is clicked, populated by github search results and, if logged-in, the option to add a result as a note --}}

{{!-- displays each search result as individual divs --}}
 {{#each resultObject}}
<div class="result-list-div">
  <div class="card result-card">
    <div class="card-body">
      <h1 id="repo-fullName">{{fullName}}</h1>

      <p><b>Link to Repository: </b><a href="{{link}}" target="_blank" id="repo-link">{{link}}</a></p>
        <p>
        {{#if language}}
        <b>Language:</b> <b id="repo-language">{{language}}</b> | 
        {{/if}}
        {{#if stargazers_count}}
        <b>Stargazers:</b> {{stargazers_count}} 
        {{/if}}
        {{#if license}}
        | <b>License:</b> {{license}}
        {{/if}}
        </p>
        {{#if description}}
        <p>"{{description}}"</p>
        {{/if}}

      {{!-- if user is logged-in, shows the 'Save' accordion for the option to save a search result as a note --}}
      {{#if ../logged_in}}
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse{{id}}" aria-expanded="false" aria-controls="flush-collapseOne">
              Save
            </button>
          </h2>
          <div id="flush-collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <form class="saveNote-form" data-repoinfo="{{repoInfo}}" data-noteid={{id}}>
                <div class="mb-3">
                  <textarea class="commentText form-control w-50" id="comment-textbox" placeholder="Add a comment" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="newTag" class="form-label">Add Tag:</label>
                  {{!-- new tag input, trumps tag dropdown when the note is saved --}}
                  <input type="newTag" class="form-control w-25" id="newTag" placeholder="new tag" aria-describedby="newTag">
                  <select class="form-select w-25" id="chooseTag" aria-label="Default select example">
                    {{!-- default option is to leave the tag value null --}}
                    <option value="null" selected>Choose a Tag</option>
                    {{!-- uses all of the user's created tags as options for saving a tag to the note --}}
                    {{#each ../tags}}
                    <option value="{{id}}">{{title}}</option>
                    {{/each}}
                  </select>
                </div>
                <button type="submit" class="btn btn-saveNote btn-primary">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    </div>

  </div>
</div>
{{/each}}

<script src="./js/addNotes.js"></script>