{{#each tags}}
  <div class="result-list-div">
    <div class="card tag-card">
      <div class="card-body">
        <h3>{{id}}: {{title}}
        <span><button
          type="button"
          id="btn-deleteTag"
          data-tagid={{id}}
          class="btn btn-deleteTag btn-danger" 
          style="float:right;"
        >Delete</button></span>
        </h3>

        {{!-- <form class="mb-3 form-updateTag">
            <div>
                <textarea class = "newTagText form-control"
                id="newTag-textarea" rows="1">{{title}}</textarea>
            </div>

 
 
          {{!-- <input
            type="text"
            class="form-control"
            placeholder="Enter new tag title.."
            data-editTag_id={{id}}
          /> --}}
        {{!-- <button type="submit" data-update_id={{id}} class="btn btn-warning btn-updateTag">Update Tag</button> 
        </form> --}}
      </div>
    </div>
  </div>
{{/each}}

<script src="./js/tagManager.js"></script>