<div>
  <ul class="list-group ">
    {{#each tags}}
      <li class="list-group-item container">
        <div class="row align-items-start">
          
          <h3 class="col-9">{{id}}: {{title}}</h3> 
          <button type="button" id="btn-deleteTag" data-tagid={{id}} class="btn btn-deleteTag btn-danger col-3">Delete</button>
        </div>
        {{!-- <form class="mb-3 form-updateTag">
            <div>
                <textarea class = "newTagText form-control"
                id="newTag-textarea" rows="1">{{title}}</textarea>
            </div>

 
 
          {{!-- <input
            type="text"
            class="form-control"
            placeholder="Enter new tag title.."
            data-editTag_id={{id}}
          /> --}}
          {{!-- <button type="submit" data-update_id={{id}} class="btn btn-warning btn-updateTag">Update Tag</button> 
        </form> --}}
      </li>
    {{/each}}
  </ul>
</div>

<script src="./js/tagManager.js"></script>